html, body { background-color: #b4b4b4; }

/* Set padding to keep content from hitting the edges */

.body-content {
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 400px; }

h2 {
    color: #306086;
    margin-bottom: 25px;
    margin-top: 0;
}

/* Login form container */

.center-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: 350px;
    left: 50%;
    margin-left: -150px;
    margin-top: -200px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 300px;
}

.center-box .form-control {
    background-color: #eaeaea;
    border-radius: 5px;
    margin: 0;
    width: 100%;
}

.center-box label { color: #5d5d5d; }

.login-btn {
    background-color: #306086;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 34px;
    margin-top: 25px;
    width: 100%;
}

/*Navigation bar Dashboard*/

.navbar-inverse {
    background-color: #306086;
    border: none;
}

.navbar-inverse .navbar-brand { color: #fff; }

/*Block class for the dashboard*/

.block-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 80px;
    padding: 10px;
    padding-top: 20px;
}

.block-container h3 {
    background-color: #306086;
    color: #fff;
    padding: 5px;
}

.report-comment {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.report-status-dropdown {
    height: 30px;
    width: 150px;
}

.report-submit-comment {
    background-color: #306086;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    margin-top: 40px;
    width: 200px;
}

.remark-head div {
    background: #306086;
    color: #fff;
}

.remark-bottom div {
    background: #e2e2e2;
    margin-bottom: 10px;
}

/* Pagination for dashboard */
.pagination-item {
    display:inline-block;
    padding:5px;
    border:1px solid #306086;
    color:#428bca;
}

.pagination-item.current {
    background:#306086 !important;
    color:#fff !important;
}

.pagination-item:hover a, .pagination-item:hover {
    background:#306086;
    color:#fff;
    text-decoration:none;
}

.new {background:#b3dc8b; }