<html>
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<link href="@Url.Content("~/Content/reporter.css")" type="text/css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css"/>
	<link href="//fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="~/Scripts/jquery.datetimepicker.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<h1>Melden + Leerpark</h1>
	</header>
	@RenderBody()
</body>
</html>