@{
    string actionName = ViewBag.ActionName;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <script src="~/Scripts/Reporter.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @using (Html.BeginForm(actionName, "Report", FormMethod.Post))
    {
        <header id="toolbar">
            <h1>@Html.ActionLink("Meldingen Applicatie", "Index", "Report")</h1>
            <div id="attachPicture">
                <input class="overlayInput" type="file" accept="image/*">
            </div>
        </header>
        @RenderBody()
    }
</body>
</html>
