<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kiwi</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="~/Scripts/Jquery.DateFormat.js"></script>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
  

                    <span class="navbar-brand">ingelogd met: @Session["user"]</span>
                    <a href="@Url.Action("Index", "Report")" class="navbar-brand">Home</a>
                    <a href="@Url.Action("Logout", "Account")" class="navbar-brand">Loguit</a>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
        </div>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>