
@{
    ViewBag.Title = "404 ERROR";
}

<div class="block-container">
    <h2>404 Page</h2>
    <div class="row">
        <div class="col-sm-6 form-horizontal">
            <p>Deze pagina bestaat niet.</p>
            <p>Kijk uw url na voor e.v.t fouten, of ga terug naar de index (<a href="@Url.Action("Index")">klik hier voor de index</a>).</p>
        </div>
    </div>

</div>
