@*mailto:pvanooyenknook@davinci.nl?Subject=Feedback%20-%20Meldings%20applicatie%20leerpark*@
<div class="bug-report-form">
	<form action="/Report/BugReport" method="post">
		<input class="email" name="EmailAddress" type="email" placeholder="Uw mail adres" required /><br />
		<input class="subject" name="Subject" type="text" placeholder="Onderwerp" required /><br />
		<textarea class="bug" name="Message" placeholder="Feedback" required></textarea><br />
		<input type="submit" value="versturen" />
	</form>
</div>
<a href="#" id="bug-report">Feedback</a>