@model AdditionalLocationViewModel
@{
    ViewBag.Title = "Aanvullende locatie";
}

@using (Html.BeginForm())
{
	<div class="field">
		<label>@String.Format(Resources.PageItems.LocationDetailedDescription, ViewBag.Preposition, ViewBag.Building)</label>

		<div>
			@Html.TextAreaFor(m => m.AdditionalLocation)
		</div>
	</div>

	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
	</div>
}