@model AdditionalLocationViewModel
@{
    ViewBag.Title = "Aanvullende locatie";
}

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@String.Format(PageItems.LocationDetailedDescription, ViewBag.Preposition, ViewBag.Building)</legend>
		@Html.TextAreaFor(m => m.AdditionalLocation)
		@Html.ValidationMessageFor(m => m.AdditionalLocation)
	</fieldset>

	<button type="submit"><img src="@Url.Content("~/Content/next.svg")"></button>
}