@{
	ViewBag.Title = "Contact";
}

@section Scripts{
	<script src="~/Scripts/pop-up.js"></script>
}

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@DisplayNames.ContactTitle</legend>
		@Html.Partial("~/Views/Report/PopUpPartials/_partialPopUpContact.cshtml", new ContactViewModel())
		<button onclick="popUpShow('contact'); return false;">Ja</button>
		<button>Nee</button>
	</fieldset>
}
<div class="overlay"></div>