@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutLoadedInFrame.cshtml";
}

@section Scripts{
	<script src="~/Scripts/pop-up.js"></script>
}

@if (ViewBag.IsValid != null && !ViewBag.IsValid)
{
	<script>
		$(document).ready(function() {
			popUpShow("contact");
		});
	</script>
}

@using (Html.BeginForm())
{
	<fieldset>
		<legend>@DisplayNames.ContactTitle</legend>
		@Html.Partial("~/Views/Report/PopUpPartials/Contact.cshtml", new ContactViewModel())
		<button onclick="popUpShow('contact'); postResizeMessage(); return false;">Ja</button>
		<button>Nee</button>
		<input type="hidden" name="Enabled" value="false"/>
	</fieldset>
}
<div class="overlay"></div>