@model FirstAidViewModel

@{
    ViewBag.Title = "FirstAid";
}

<h2>FirstAid</h2>
@using (Html.BeginForm("FirstAid", "Report"))
{
    <p>
        @Html.LabelFor(m => m.IsUnconscious)
        @Html.CheckBoxFor(m => m.IsUnconscious)
    </p>
    <input type="submit" value="Verzenden" />
}