@model FirstAidViewModel

@{
	ViewBag.Title = Categories.FirstAid;
}
@using (Html.BeginForm())
{
	<fieldset>
		<legend>@DisplayNames.Unconscious</legend>
		<button name="IsUnconscious" value="Ja">Ja</button>
		<button name="IsUnconscious" value="Nee">Nee</button>
	</fieldset>
}