@model FirstAidViewModel

@{
	ViewBag.Title = Categories.FirstAid;
}
@using (Html.BeginForm())
{
	<div class="field">
		<label>Is het slachtoffer bewusteloos?</label>
		<div>
			<div class="button-container">
				<input type="submit" name="IsUnconscious" value="Ja" />
				<input type="submit" name="IsUnconscious" value="Nee" />
			</div>
		</div>
	</div>
}