@model FirstAidViewModel

@{
	ViewBag.Title = Categories.FirstAid;
}
@using (Html.BeginForm())
{
	<div class="field">
		<label>Is het slachtoffer bewusteloos?</label>
		<input type="submit" name="IsUnconscious" value="Ja" />
		<input type="submit" name="IsUnconscious" value="Nee" />
	</div>
}