@{
	ViewBag.Title = "Hulp";
}

<h2>Hulp</h2>
<p>Wij zullen actie ondernemen. Verder kan je nog hulp zoeken bij de volgende personen:</p>
<ul>
	<li>
		Je mentor
	</li>
	<li>
		Vertrouwenspersoon
	</li>
	<li>
		De landelijke hulplijn.<br />
		Tel: 0900-0101
	</li>
</ul>