@model CategoryViewModel

@{
	ViewBag.Title = "Categorie";
}
<section class="icons">
	@using (Html.BeginForm())
    {
		<fieldset>
			<legend>@DisplayNames.Index</legend>
			@foreach (var item in Model.Categories)
			{
				<button name="Category" value="@item.Value">
					<img src='@String.Format("/Content/category-{0}.png", item.Value)'>
					@item.Text
				</button>
			}
		</fieldset>
	}
</section>
<script>
    localStorage.removeItem('Category');
</script>