@model CategoryViewModel

@{
	ViewBag.Title = "Categorie";
}

<section class="icons">
	@using (Html.BeginForm())
		{
			<div class="field">
				<label>Wat wilt u melden?</label>
				<ul class="buttons">
					@foreach (var item in Model.Categories)
					{
						<li>
							<button type="submit" name="Category" value="@item.Value">
								<img src='@string.Format("/Content/category-{0}.png", item.Value)'>
								@item.Text
							</button>
						</li>
					}
			</ul>
			</div>
			}
</section>