@model CategoryViewModel


@{
    ViewBag.Title = "Index";
}


<section class="icons">
    <div>
        <img src="~/Content/EHBO-icon.png" />
        <span>EHBO</span>
        <input class="overlayInput" type="submit" name="reportType" value="EHBO">
    </div>
    <div>
        <img src="~/Content/Diefstal-icon.png" />
        <span>Diefstal</span>
        <input class="overlayInput" type="submit" name="reportType" value="Diefstal">
    </div>
    <div>
        <img src="~/Content/Drugs-icon.png" />
        <span>Drugs</span>
        <input class="overlayInput" type="submit" name="reportType" value="Drugs">
    </div>
    <div>
        <img src="~/Content/Geweld-icon.png" />
        <span>Geweld</span>
        <input class="overlayInput" type="submit" name="reportType" value="Geweld">
    </div>
    <div>
        <img src="~/Content/Wapens-icon.png" />
        <span>Wapens</span>
        <input class="overlayInput" type="submit" name="reportType" value="Wapens">
    </div>
    <div>
        <img src="~/Content/Overlast-icon.png" />
        <span>Overlast</span>
        <input class="overlayInput" type="submit" name="reportType" value="Overlast">
    </div>
    <div>
        <img src="~/Content/EHBO-icon.png" />
        <span>Overig</span>
        <input class="overlayInput" type="submit" name="reportType" value="Overig">
    </div>
</section>
