@model CategoryViewModel


@{
    ViewBag.Title = "Index";
}


<section class="icons">
@foreach (var item in Model.Categories)
{
    <div>
        <img src="~/Content/@item.Text-icon.png" />
        <span>@item.Text</span>
        <input class="overlayInput" type="submit" name="reportType" value="@item.Value">
    </div>
}
</section>
