@model LocationViewModel

<h1>Waar is het gebeurd?</h1>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.Building)
        @Html.DropDownListFor(m => m.Building, Model.Buildings)
    </p>
    
    <p>
        @Html.LabelFor(m => m.Location)
        @Html.TextAreaFor(m => m.Location)
    </p>
    
    <p>
        <button type="submit">Volgende</button>
    </p>
}