@model NuisanceViewModel

@{
	ViewBag.Title = Categories.Nuisance;
}

<h2>Nuisance</h2>
@using (Html.BeginForm())
{
	<p>
		@Html.LabelFor(m => m.Description)
		@Html.TextBoxFor(m => m.Description)
	</p>
	<input type="submit" value="Verzenden" />
}