@model NuisanceViewModel

@{
	ViewBag.Title = Categories.Nuisance;
}
@using (Html.BeginForm())
{
	<div class="field">
		<label>@ReportProperties.NuisanceDescription *</label>
		@Html.TextBoxFor(m => m.Description)	
	</div>
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")"/></button>
		<span class="floatLeft">*verplichte velden</span>
	</div>
}