
@{
    ViewBag.Title = "Politie";
}

<h2>Politie</h2>
<p>Wij zullen zo snel mogelijk een melding maken bij de politie, ook word aangeraden dit zelf te doen.<br />
    Telefoon-nummer van de politie in Dordrecht: 0900-8844</p>

