@{
	ViewBag.Title = "Sessie verlopen";
}

<div class="container">
	<div class="field">
		<label>Sessie verlopen</label>
		<p>Uw sessie is verlopen!</p>
	</div>
	<div class="field">
		<label></label>
		<div class="button-container">@Html.ActionLink("Probeer opnieuw", "index", "Report")</div>
	</div>
</div>

