@{
	ViewBag.Title = "Sessie verlopen";
}

<div class="container">
	<div class="field">
		<label>Sessie verlopen</label>
		<p>U heeft te lang gedaan over het invullen van de melding. Om beveiligingsredenen moet u de melding opnieuw maken.</p>
	</div>
	<div class="field">
		<label></label>
		<div class="button-container">@Html.ActionLink("Opnieuw", "index", "Report")</div>
	</div>
</div>

