@model TheftViewModel

@section Scripts{
	<script src="~/Scripts/Theft.js"></script>
}

@{
	ViewBag.Title = Categories.Theft;
}

<h2>Theft</h2>
@using (Html.BeginForm())
{
	<p>
		@Html.LabelFor(m => m.StolenObject)
		@Html.TextBoxFor(m => m.StolenObject)
	</p>
	<p>
		@Html.LabelFor(m => m.DateOfTheft)
		@Html.TextBoxFor(m => m.DateOfTheft)
	</p>
	<input type="submit" value="Verzenden" />
}