@model VictimViewModel

@{
	ViewBag.Title = DisplayNames.Victim;
}

@using (Html.BeginForm())
{
	<div class="field">
		@Html.LabelFor(m => m.Victim)
		@Html.TextBoxFor(m => m.Victim)
	</div>
	<div class="submit">
		<button type="submit"><img src="@Url.Content("~/Content/next.svg")" /></button>
		<span class="floatLeft">*verplichte velden</span>
	</div>
}