@model Lisa.Kiwi.Web.VictimViewModel

@{
    ViewBag.Title = DisplayNames.Victim;
}

<h2>@DisplayNames.Victim</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.Victim)
        @Html.TextBoxFor(m => m.Victim)
    </p>
    <input type="submit" value="Verzenden" />
}
