<div class="field">
	<h2>@PageItems.Location</h2>
	<div class="donePadding">
		<p class="locationCategory"><img src='@Url.Content(String.Format("~/Content/ReporterBuildings/{0}.png", BuildingImages.ResourceManager.GetString(Model.Location.Building)))'><br />@ReportHelpers.Capitalize(Resources.Buildings.ResourceManager.GetString(Model.Location.Building)): @Model.Location.Description</p>
	</div>
</div>