<fieldset>
	<legend>@PageItems.Location </legend>
	<div>
		<select id="Building">
			@foreach (var building in new string[] { "Buiten", "BetaaldeParkeerplaats", "GroteParkeerplaats", "Arcobaleno", "Azzurro", "Bianco", "Celeste", "Media", "Duurzaamheidsfabriek", "Giallo", "Indaco", "Lilla", "Marrone", "Ocra", "Romboutslaan", "Rosa", "Verde", "Appartementen", "Bogermanschool", "Brandweerkazerne", "Drechtstedencollege", "Klimhal", "Orthodontist", "Samenwerkingsgebouw", "Schippersinternaat", "Sporthal", "Veiligheidsregio", "Wartburg" })
			{
				<option value="@building">@building</option>
			}
		</select>
	</div>
</fieldset>