<div class="field">
	<label>@PageItems.Category</label>
  <div>
    <p class="locationCategory"><img src='@Url.Content(string.Format("~/Content/category-{0}.png", Model.Category))'><br />@Categories.ResourceManager.GetString(Model.Category)</p>
  </div>
</div>