<h2>Dashboard</h2>
<div class="row">
<div class="col-sm-12">
    <table class="table">
        <thead>
            <th>Melding aangemaakt</th>
            <th>Datum incident</th>
            <th>Type melding</th>
            <th>Beschrijving</th>
            <th>Status</th>
            <th>Bekijken</th>
        </thead>
        <tbody>
          <tr>
              <td>11-sept-2014 13:45</td>
              <td>11-sept-2014 13:45</td>
              <td>Vernietiging</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare vestibulum rhoncus. Praesent nec turpis id erat dapibus lacinia in eget mauris. Sed eget mauris nec massa dictum pharetra ac ut nulla. Morbi malesuada, elit eu fermentum fermentum, augue quam rhoncus erat</td>
              <td>Nieuw</td>
              <td><a href="/report">Bekijken</a></td>
          </tr>
            <tr>
              <td>11-sept-2014 13:45</td>
              <td>11-sept-2014 13:45</td>
              <td>Brand</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare vestibulum rhoncus. Praesent nec turpis id erat dapibus lacinia in eget mauris. Sed eget mauris nec massa dictum pharetra</td>
              <td>Nieuw</td>
              <td><a href="/report">Bekijken</a></td>
            </tr>
            <tr>
                <td>11-sept-2014 13:45</td>
                <td>11-sept-2014 13:45</td>
                <td>Vernietiging</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare vestibulum rhoncus. Praesent nec turpis id erat dapibus lacinia in eget mauris. Sed eget mauris nec massa dictum pharetra</td>
                <td>In onderzoek</td>
                <td><a href="/report">Bekijken</a></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
