@charset "utf-8";
/* CSS Document */

h3{
	color: rgb(11,73,92);
	font-size: 12pt;
	padding: 15px;
	margin-left: auto;
    margin-right: auto;

}
#googleMap{
	width:500px;
	height:380px;
	margin-left: auto;
    margin-right: auto;
	
	}
.location{
	float:left;
	
	margin: 0px;
	max-width: 400px;
}

#info{
	margin-left: 188px;
	margin-top: -15px;
	margin-bottom: 50px;
}	
#next{
	position: absolute; 
	bottom: 0;
	right: 0;
	
}