<div class="field">
	<h2>@ReportProperties.ResourceManager.GetString("UsingOrDealing")</h2>
	<div class="donePadding">
		<p>@ReportProperties.ResourceManager.GetString("Drugs" + Model.DrugsAction ?? "_null")</p>
	</div>
</div>

<div class="field">
	<h2>@ReportProperties.ResourceManager.GetString("Description")</h2>
	<div class="donePadding">
		<p>@DashboardHelpers.NullCheck(Model.Description)</p>
	</div>
</div>