@model Lisa.Kiwi.Web.Reporting.Models.OriginalReport

@{
    ViewBag.Title = "Report";
}

<div class="center-box">
    <h2>Report</h2>

    @using (Html.BeginForm("Details", "Report", FormMethod.Post))
    {
        @Html.ValidationSummary();
        <div class="form-group">
            <label class="col-sm-3 control-label">Locatie</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(o => o.Location, new { @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Datum</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(o => o.Time, new { @required = "required", @Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss") })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Beschrijving</label>
            <div class="col-sm-9">
                @Html.TextAreaFor(o => o.Description, new { @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <br />
                <input type="submit" name="nextBtn" value="Volgende stap" class="btn btn-default" />
            </div>
        </div>
    }
</div>


