@{
    ViewBag.Title = "Drugs";
}

<h2>Drugs</h2>

<label>Hoeveel mensen waren er aanwezig?</label>
<input type="number" min="1" name="amount"  />

<label>Word het gebruikt of gedeald?</label>
<input type="radio" name="UsingType" value="Gebruikt">Gedeald<br>
<input type="radio" name="UsingType" value="Gedeald">Gebruikt

<button>Ga verder</button>