@{
    ViewBag.Title = "Welkom";
}

<div class="center-box">
    <div class="row">
        <div class="col-xs-12">
            <h2>Welkom</h2>

            <div class="form-group">
                <p>Maak een melding!</p>
            </div>
            <a href="@Url.Action("type", "Report")">Start</a>

        </div>
    </div>
</div>
