@{
    ViewBag.Title = "Welkom";
}

<div class="center-box">
    <div class="row">
        <div class="col-xs-12">
    <h2>Welkom</h2>
    @using (Html.BeginForm("Type", "Report"))
    {
        <div class="form-group">
            <p>Maak een melding!</p>
        </div>
    <input type="submit" name="NextStep" value="Start" class="btn btn-default btn-report">
    }
</div>
        </div>
    </div>
