@{
    ViewBag.Title = "Welkom";
}

<h1>Welkom!</h1>
<p>Welkom bij de meldings wizzard</p>

@using (Html.BeginForm("Type", "Report")) { 
  <input type="submit" name="NextStep" value="Maak een melding!">
}