@{
    ViewBag.Title = "Welkom";
}

<div class="center-box">
    <h2>Welkom</h2>
    @using (Html.BeginForm("Type", "Report"))
    {
        <div class="form-group">
            <p>Maak een melding!</p>
        </div>
        <input type="submit" name="NextStep" value="Maak een melding!">
    }
</div>
