@using Lisa.Kiwi.Web.Reporting.Models

@{
    ViewBag.Title = "Location";
    Report report = ViewBag.Report;
}
<header id="toolbar">
    <h1>Meldingen Applicatie</h1>
    <div id="process">
        <span>Stap 2 van 3</span>
    </div>
    <div id="attachPicture">
        <input class="overlayInput" type="file" accept="image/*">
    </div>
</header>
<section>
    <div id="map-canvas"></div>
    <ul id="map-suggestions"></ul>
    <select name="building" id="buildingSelect">
        <option value="Lilla">Lilla</option>
    </select>
    <input type="submit" name="submit" value="Verzenden"/>  
</section>