@{
    ViewBag.Title = "Overig";
}

<h2>Overig</h2>

<label>Wat is er dan aan de hand?</label>
<input type="text" name="othertype" value="Type">

<label>Kunt u een korte bescheiving geven?</label>
<input type="text" name="otherdesc" value="Bescheiving">

<button>Ga verder</button>