@model Lisa.Kiwi.Web.Reporting.Models.OriginalReport

@{
    ViewBag.Title = "Type melding";
}

<div class="center-box">
    <div class="row">
        <div class="col-xs-12">
            <h2>Wat wil je melden?</h2>
            @using (Html.BeginForm("Type", "Report"))
            {
                <div class="form-group">
                    @Html.DropDownList("reportType", ViewBag.ReportTypes as SelectList, new { @class = "form-control" })
                </div>
                <input type="submit" name="typeBtn" value="Volgende" class="btn btn-default btn-report" />

            }
        </div>
    </div>
</div>
