@model Lisa.Kiwi.Web.Reporting.Models.OriginalReport

@{
    ViewBag.Title = "Type melding";
}

<div class="center-box">
    <h2>Meldings type</h2>
    @using (Html.BeginForm("Details", "Report"))
    {
        <div class="form-group">
            @Html.DropDownList("reportType", ViewBag.ReportTypes as SelectList)
        </div>
        <input type="submit" value="Volgende stap" />
    }
</div>