@model Lisa.Kiwi.Web.Reporting.Models.OriginalReport

@{
    ViewBag.Title = "ReportType";
}

<h2>Report</h2>

@using (Html.BeginForm("Details", "Report"))
{
    @Html.DropDownList("reportType", ViewBag.ReportTypes as SelectList)
    <br />
    <br />
    <input type="submit" value="Volgende stap" />
}
