@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

body {
    background-color: #ccc;
    font-family: Source Sans Pro;
}

textarea {
    resize: vertical;
}

/*
	Header
*/

header {
    background: url('banner.jpg');
    height: 186px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 900px;
    background-position: bottom;
    margin: auto;
}

header h1 {
    display: none;
}

/*
	Basic structure
	
	The form is centered on the page. It has a blue banner across the top that contains the header and
	a blue bar to the left side that contains the labels.
*/

form,
.container {
	background-color: white;
	margin: auto;
	width: 900px;
}

.body h1,
.container h1 {
  margin: 0;
  background-color: #113;
  padding: 5px;
  color: white;
}

.grayLayer p{
   opacity: 0.4;
}

.grayLayer label{
    color: gray !important;
}

form .field,
.container .field {
	display: table-row;
	width: 100%;
}

form .field > *,
.container .field > * {
    display: table-cell;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

form .field label,
.container .field label {
	background-color: #113;
	color: white;
	text-align: right;
	width: 270px;
}

@media(max-width: 515px) {
    form .field label.mobile-hide, .container .field label.mobile-hide {
        display: none;
    }
}

form .field label.radio, label.radio:checked{
    background-color: white;
    margin: auto;
    width: 900px;
}

form .field,
.body .field {
    display: inline-table;
    width: 100%;
}

form .field > *,
.body .field > * {
    display: table-cell;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

form .field label,
.body .field label {
    background-color: #113;
    color: white;
    text-align: right;
    width: 33.34%;

    word-break: break-word;
}

form .field label.radio,
label.radio:checked {
    background-color: white;
    color: black;
    background: none !important;
    text-align: left;
    width: auto !important;
    height: 20px !important;
    margin: 0 20px 0 20px;
    cursor: auto;
}

form .field .radioList li,
form .field .radioList li:first-child {
    list-style: none;
    height: 30px;
    margin-left: 30px;
}

form .field .radioList li:first-child {
    margin-top: 15px;
}

form .field ul.radioList {
    padding: 0;
}

.floatLeft {
    float: left;
}

/*
	Button lists
*/

ul.buttons {
    padding-left: 12px;
}

ul.cat-buttons {
    padding-bottom: 50px;
}

ul.buttons li {
    display: inline-table;
    vertical-align: top;
    width: 137px;
    text-align: center;
    -ms-word-break: break-word;
    word-break: break-word;
    margin-bottom: 5px;
}

ul.buttons li button {
    background: white;
    border: none;
    padding: 0;
    font-family: Source Sans Pro;
    font-size: 12pt;
    cursor: pointer;
}

ul.buttons li button img {
    width: 99px;
    height: 99px;
}

div.radioButtonDivider {
    padding-left: 30px;
}

/*.radioButton input[type=radio] {
    display: inline;
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 5px;
    float: left;
}*/


/*
	Form contents
*/

input[type=checkbox] {
    width: 70px;
    height: 19px;
    margin-top: 32px;
}

input[type=radio] {
    margin-top: 5px;
}

form .field p,
.field p {
    margin-top: 0;
    font-size: 12pt;
    color: #003;
}

form .field h2 {
	font-size: 12pt;
	color: #003;
}

form .field textarea,
form .field input[type=text],
form .field input[type=number],
form .field input[type=password],
form .field select {
    font-family: Source Sans Pro;
    font-size: 12pt;
    margin: 15px 0 0 5%;
    width: 90%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.input-validation-error {
    border: 1px solid #ca1818;
    background-color: rgb(255, 222, 222);
}

form .field button {
    font-family: Source Sans Pro;
    font-size: 12pt;
    margin: 15px 0 0 30px;
    cursor: pointer;
}

form .submit {
    text-align: right;
    padding: 30px 3%;
    width: 94%;
}

form .submit button {
    background-color: #113;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    outline: none;
}

form .submit button:hover {
    background-color: #557;
}

form .submit button:active {
    width: 42px;
    height: 42px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
}

form .submit button:active img {
    width: 18px;
    height: 18px;
}

/* Finishing pages */

.locationCategory {
    width: 137px !important;
    height: 141px !important;
    text-align: center !important;
    padding-left: 0 !important;
}

/* Responsive */
@media(max-width: 900px) {
    header,
    form,
		.container,
    .submit {
        width: 100%;
        min-width: 400px;
    }

    .submit {
        min-width: 380px;
    }
}

@media(max-width: 683px) {
    header {
        height: 137px;
    }
}

@media(max-width: 477px) {
    header {
        height: 96px;
    }
}

/* View specific css */
.button-container {
    padding: 10px;
}

.button-container button,
.button-container input[type=submit],
.button-container a{
    padding: 6px 30px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: none;
    background-color: #113;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#bug-report{
    position: fixed;
    top: 5%;
    height: 200px;
    right: -120px;
    padding: 5px 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #113;
    text-decoration: none;
    color: white;
    
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


}
