@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

body {
	background-color: #ccc;
	font-family: Source Sans Pro;	
}

/*
	Header
*/

header {
	background: url(banner.jpg);
	height: 186px;
	width: 900px;
	margin: auto;
}

header h1 {
	display: none;
}

/*
	Basic structure
	
	The form is centered on the page. It has a blue banner across the top that contains the header and
	a blue bar to the left side that contains the labels.
*/

form, .body {
	background-color: white;
	margin: auto;
	width: 900px;
}

.body h1, h2{
    margin: 0;
    background-color: #113;
    padding: 5px;
    color: white;
}

form .field, .body .field {
	display: table-row;
	width: 100%;
}

form .field > *, .body .field > * {
	display: table-cell;
	vertical-align: top;
	box-sizing: border-box;
	padding: 15px;
}

form .field label, .body .field label {
	background-color: #113;
	color: white;
	text-align: right;
	width: 300px;
}

form .field label.radio, label.radio:checked{
    background-color: white;
    color: black;
    background: none !important;
    text-align: left;
    width: auto !important;
    height: 20px !important;
    margin: 0px 20px 0px 20px;
    cursor: auto;
}

form .field .radioList li, 
form .field .radioList li:first-child{
    list-style: none;
    height: 30px;
    margin-left: 30px;
}

form .field .radioList li:first-child {
    margin-top: 15px;
}

form .field ul.radioList{
    padding: 0px;
}

.floatLeft {
    float: left;
}

/*
	Button lists
*/

ul.buttons li input[type=radio] {
    display: none;
}

ul.buttons li input[type=radio] + label {
    background: url("category-bullying.png");
    display: block;
    padding: 0;
    margin-top: 0;
    height: 99px;
    width: 99px;
    cursor: pointer; 
}

ul.buttons li input[type=radio]:checked + label {
    background: url("category-bullying.png");
    display: block;
    padding: 0;
    height: 99px;
    width: 99px;
    -webkit-filter: grayscale(1);
    /* fix for ie and firefox */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

ul.buttons {
	padding-right: 0;
}

ul.buttons li {
	display: inline-table;
	width: 99px;
	margin-right: 15px;
    text-align: center;
}

ul.buttons li button {
	background: white;
	border: none;
	padding: 0;
	
	font-family: Source Sans Pro;
	font-size: 12pt;
}

ul.buttons li button img {
	width: 99px;
	height: 99px;
}

.radioButton input[type=radio]{
    display: inline;
    width: auto;
    height: auto;
    margin: 0px;
    margin-top: 5px;
    float: left;
}


/*
	Form contents
*/

input[type=checkbox]{
    width: 540px;
    margin: 30px 30px 0;
}

form .field p, .field p {
	margin-top: 0;
	font-size: 12pt;
	font-weight: bold;
	color: #003;
}

form .field textarea,
form .field input[type=text],
form .field input[type=number],
form .field select{
	font-family: Source Sans Pro;
	font-size: 12pt;
	margin: 15px 30px 0;
	width: 540px;
}

form .field button {
    font-family: Source Sans Pro;
	font-size: 12pt;
	margin: 15px 0 0 30px;
}

form .submit {
	text-align: right;
	padding: 30px;
}

form .submit button {
	background-color: #113;
	border: 1px solid black;
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	width: 44px;
	height: 44px;
	outline: none;
}

form .submit button:hover {
	background-color: #557;
}

form .submit button:active {
	margin: 1px;
	width: 42px;
	height: 42px;
}

form .submit button:active img {
	width: 18px;
	height: 18px;
}
