@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

/*
	Common typography
*/

body,
input,
textarea,
button {
  font-family: Source Sans Pro, sans-serif;
  font-size: 12pt;
}

/*
	Basic structure
*/

body {
  background-color: white;
  max-width: 720px;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

@media (min-width: 720px) {
  html {
    background-color: #ccc;
  }

  body {
    margin: 0px auto; /* center the entire page */
  }
}

/*
	Site banner

	The top of the page is usually covered by a banner image, but in case
	the CSS doesn't load, the banner also contains text. This is also
	useful for web crawlers. The text is hidden here in favor of the
	banner image.
*/

header {
  background-image: url(banner.jpg);
  background-repeat: repeat;
  background-size: contain;
  height: 74px;
}

  header h1 {
    display: none; /* hide the text */
  }

/*
	iFrame

	While the user provides details on the report, the forms are loaded in an iFrame. 
    Outside of the iFrame is image upload functionality. 
    
    Once the details are completed, the iFrame sends a signal to the parent page to upload the images 
    and head towards the next page.
*/

iframe {
    display: block;
    border: none;
    padding: 0px;
    margin: auto;
    width: 100%;
    height: 100%;
}

#uploadfiles .uploadwrapper input[type=file],
#uploadfiles .uploadwrapper input[type=file]::-webkit-file-upload-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0.0;
    padding: 0;
    filter: alpha(opacity=0);
    -o-transform: translate(250px, -50px) scale(1);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
    width: 100%;
}

/*#uploadfiles button[type=submit] {
    display: inline-block;
    width: calc(50% - 17px);
}*/

#uploadfiles .uploadwrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;

    color: white;
    background-color: #113;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 42px;
    width: calc(100% - 20px);
}

#uploadfiles .uploadwrapper span {
    display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#uploadqueue {
    width: calc(100% - 20px);
    margin: auto;
}

#uploadqueue tr {
    height: 100px;
}

#uploadqueue tr td {
    width: 50%;
    word-break: break-all;
    overflow: hidden;
}

#uploadqueue tr td:first-child,
#uploadqueue tr td:last-child
{
    width: 25%;
}

#uploadqueue tr button {
    height: 75%;
    padding: 1px;
}

#uploadqueue tr td button img {
    position: relative;
    top: 0;
    left: 0;
    background-color: #113;
    margin: auto; 
    vertical-align: middle;
    height: 75%;
}

#uploadqueue tr:nth-child(odd) {
    background-color: #eee;
}

#uploadqueue img {
    max-height: 100px;
    max-width: 100px;
}

.pseudo-align {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}

/*
	Forms

	The fields of a form are displayed vertically. Each field has a
	description right above it.

	Each field together with its description is wrapped in fieldset-tags.
	Inside the fieldset-element, the legend-element contains the
	description of the field.
*/

form {
    margin-bottom: 0;
}

fieldset {
  display: block;
  border: none;
  padding: 0px;
  margin: 0 0 15px 0;
}

fieldset:last-child {
    margin-bottom: 0;
}

legend {
  display: block;
  width: 100%;
  background-color: #113;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

fieldset p { /* heading inside form */
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
}

input:not([type='radio']),
select,
textarea {
  box-sizing: border-box; /* otherwise element overflows to the right */
  width: calc(100% - 20px);
  min-height: 44px; /* easier to select on mobile devices */
  margin: 0 10px;
  padding: 5px;
}

textarea {
  min-height: 88px;
}

.required {
  display: block;
  color: #999;
  font-size: 10pt;
  text-align: right;
  margin-right: 10px;
}

/*
	Buttons
*/

button {
  background-color: #eee;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  height: 44px;
  position: relative; /* serve as a container for images */
}

  button[type=submit] {
    background-color: #113;
    color: white;
    border-color: black;
  }

  button:not([type=submit]) img {
    position: absolute;
    left: 5px;
    top: 5px;
    max-width: 32px;
    max-height: 32px;
    border: 1px solid #ccc;
    border-radius: 16px;
  }

/*
	Popups

	Some forms show a popup for additional information (e.g. about persons of
	interest, or vehicles).
*/

fieldset {
  position: relative; /* make fieldset container for popup */
}

.popup {
  display: none; /* popup is invisible by default */
  position: absolute; /* position popup over the form */
  z-index: 1;
  background-color: white; /* visually distinguish popup from background */
  border: 1px solid #889;
  width: calc(100% - 20px); /* center popup */
  margin-left: 10px;
}

  .popup header {
    background: none; /* disable style from regular header */
    height: auto;
    /* NOTE: following style is same as legend in regular form */
    display: block;
    width: 100%;
    background-color: #113;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .popup legend {
    background-color: #eee; /* visually distinguish from regular form */
    color: #333;
    font-size: 11pt;
    margin-left: 10px; /* add whitespace to show field is nested */
    width: calc(100% - 20px);
    margin-bottom: 5px; /* less whitespace at bottom just looks better */
  }

  .popup button {
    display: inline;
    width: calc(50% - 20px); /* a popup has two buttons next to each other */
  }

.overlay { /* obscures the background when popup is active */
  display: none; /* overlay is invisible by default */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
}

#bug-report {
  display: none;
}

.bug-report-form {
  display: none;
}

@media(max-width: 515px) {
  form .field label.mobile-hide, .container .field label.mobile-hide {
    display: none;
  }
}

textarea {
  resize: vertical;
}

/*
	Header
*/

header h1 {
  display: none;
}

/*
  Summary form

  At the end of the wizard, the user sees a summary form. This summary form
  has slightly different styling from regular forms to indicate that the user
  has already filled out these fields.
*/

.summary legend { /* descriptions on the summary page */
  background-color: #eee;
  color: #113;
}

.summary button {
  background-color: white;
}

p.summary {
  margin-top: 0;
}

.radioList {
  list-style: none;
}

/* Images in dashboard/details */

@media(max-width: 720px) {
    img {
        width: calc(50% - 11px);
    }
}
@media(min-width: 721px) {
    img {
        width: calc(33% - 10px);
    }
}

img {
    margin: 0 5px;
    margin-bottom: 5px;
    float: left;
    max-height: 300px;
}