@charset "utf-8";
/* CSS Document */

html, body{
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.overlayInput {
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    opacity: 0;
	cursor: pointer;
}

body{
	background-color: rgb(239,239,239);
	width:100%;
}
    body > form{
        padding-top: 70px;
    }
    
    body #middle-container {
        width: 90%;
		max-width: 800px;
		margin: 10px auto 0 auto;
    }

	#toolbar{
		position: fixed;
		top: 0;
		width: 100%;
		height: 60px;
		background-color: rgb(200,200,200);
		z-index: 100;
	}
		#toolbar h1 a{
			color: rgb(11,73,92);
			font-size: 18pt;
			font-weight: 700;
			display: inline-block;
			margin-top: 15px;
			margin-left: 10px;
			position: absolute;	
	        text-decoration: none;
		}

		#toolbar #process {
		    position: fixed;
		    top:  70px;
		    left: 10px;
		    color: #1498AD;
		    font-size: 14pt;
		}

		#toolbar #attachPicture{
			margin: 5px 10px 5px 0;
			width: 50px;
			height: 50px;
			border: 0;
			background-image: url('Camera-Icon.png'); 
			background-size: 100% 100%;
			float: right;
			position: relative;
		}

		#toolbar #attachPicture:active{
			background-color: rgb(200,200,200);
		}

	.icons{
		width: 85%;
		max-width: 1024px;
		margin: 100px auto 0 auto;
	}

		.icons > form > div{
			float:left;
			background-color: rgb(239,239,239);
			max-width: 150px;
			max-height: 150px;
			padding: 10px;
			padding-bottom: 25px;
			-webkit-box-shadow: 4px 1px 19px 0 rgba(50, 50, 50, 0.72);
			-moz-box-shadow:    4px 1px 19px 0 rgba(50, 50, 50, 0.72);
			box-shadow:         4px 1px 19px 0 rgba(50, 50, 50, 0.72);
			margin-left: 20px;
			margin-bottom: 20px;
			position: relative;
		}

		.icons > form > div:hover{
			background-color: rgb(200,200,200);
		}

			.icons > form > div > img{
				max-width: 150px;
				max-height: 150px;
				float: left;
			}

			.icons > form > div > span{
				float: left;
				width: 100%;
				text-align: center;
				color: #1498AD;
				font-weight: 400;
			}

	#map-canvas{
		width: 90%;
		max-width: 800px;
		margin: 100px auto 0 auto;
		height: 400px;
	}

		@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
			#map-canvas{
				height: 250px;
			}
		}

	#map-suggestions {
	    width: 90%;
	    max-width: 800px;
	    margin: 10px auto;
	}

		#map-suggestions button {
		    width: 33.333%;
		    border: none;
		    background-color: rgb(200, 200, 200);
		    font-size: 11pt;
		    color: rgb(20, 152, 173);
		    font-weight: 700;
		}

		#map-suggestions button:nth-child(2) {
		    border-left: 2px solid rgb(41, 159, 178);
		    border-right: 2px solid rgb(41, 159, 178);    
		}

        dt {
            font-weight: bold;
            font-size: large;
        }

        div.content {
            margin-top: 65px;
            padding-left: 1em;
        }