<div class="field">
	<label>@ReportProperties.ResourceManager.GetString("StolenObject")</label>
	<p>@DashboardHelpers.NullCheck(Model.StolenObject)</p>
</div>

<div class="field">
	<label>@ReportProperties.ResourceManager.GetString("DateOfTheft")</label>
	<p>@DashboardHelpers.NullCheck(Model.DateOfTheft)</p>
</div>