<div class="field" ?
	<label>@ReportProperties.ResourceManager.GetString("UsingOrDealing")</label>
	<p>@ReportProperties.ResourceManager.GetString("Drugs" + Model.DrugsAction ?? "_null")</p>
</div>

<div class="field">
	<label>@ReportProperties.ResourceManager.GetString("Description")</label>
	<p>@DashboardHelpers.NullCheck(Model.Description)</p>
</div>