
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<h2>report</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Details</h3>
        <div class="form-group">
            <label class="col-sm-4">Tijd incident</label>
            <p class="col-sm-8">11-sept-2014 14:15</p>
            <label class="col-sm-4">Type melding</label>
            <p class="col-sm-8">Brand</p>
            <label class="col-sm-4">Beschrijving</label>
            <p class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare vestibulum rhoncus. Praesent nec turpis id erat dapibus lacinia in eget mauris. Sed eget mauris nec massa dictum pharetra</p>
            <label class="col-sm-4">IP adres</label>
            <p class="col-sm-8">192.168.105.101</p>
            <label class="col-sm-4">User agent</label>
            <p class="col-sm-8">Mozilla Firefox</p>
            <label class="col-sm-4">Status</label>
            <p class="col-sm-8">In onderzoek</p>
        </div>
        <h3>Contact gegevens</h3>
        <div class="form-group">
            <label class="col-sm-4">Naam</label>
            <p class="col-sm-8">Frank van Driel</p>
            <label class="col-sm-4">Telefoonnummer</label>
            <p class="col-sm-8">0180-8984523</p>
            <label class="col-sm-4">Emailadres</label>
            <p class="col-sm-8">92012300@mydavinci.nl</p>
            <label class="col-sm-4">Studenten OV nummer</label>
            <p class="col-sm-8">92012300</p>
        </div>
        <h3>Acties</h3>
        <div class="form-group">
            <label class="col-sm-4">Opmerking</label>
            <textarea class="col-sm-8"></textarea>
            <label class="col-sm-4">Nieuwe status</label>
            <select class="col-sm-8">
                <option></option>
                <option>Hello World</option>
            </select>
            <input class="col-sm-12" type="submit" value="Toevoegen" />
        </div>
    </div>
    <div class="col-md-6">
        <h3>Logboek</h3>
    </div>
</div>



