﻿@model IEnumerable<Report>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Archive</title>
    <link href="@Url.Content("~/Content/dashboard.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <div> 
        Hey Honey 
    </div>
</body>
</html>
