@model Exception

@{
    ViewBag.Title = "Error";
}

<form>
    <div class="field">
        <label>Er is een fout opgetreden!</label>
        <div class="button-container">@Html.ActionLink("Probeer opnieuw", "index", "Dashboard")</div>
    </div>
</form>

<script>console.warn("@Model.Message");
    console.info("@Model.StackTrace");</script>

