html, body { background-color: #b4b4b4; }

/* Set padding to keep content from hitting the edges */

.body-content {
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 400px; }

h2 {
    color: #306086;
    margin-bottom: 25px;
    margin-top: 20px;
}

h4 { color: #306086; }

label { margin-top: 10px; }

/* Login form container */

.center-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: auto;
    padding: 10px;
    max-width: 550px;
    min-width: 300px;
    margin:0 auto;
}

.center-box label { color: #5d5d5d; }

.btn-report {
    background-color: #306086;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 34px;
    margin-top: 25px;
    width: 100%;
}

.btn-report:hover {
    background-color: #83a843;
    color: #fff;
}

.validation-summary-valid { display: none; }

.validation-summary-errors {
    color: red;
    margin: 10px 0 10px 0;
    padding: 5px;
}

.left {
    float: left;
    width:275px;
}
.right {
    float: right;
    width:275px;
}
.clear {clear:both;}